%nav{ class: "navbar navbar-default" }
  .container-fluid
  %ul{ class: "nav navbar-nav" }
    %li 
      = link_to "Home", tournament_url(@tournament.alpha_id)
      = link_to "Rankings", tournament_rankings_url(@tournament.alpha_id)
      = link_to "Countdown", tournament_countdown_url(@tournament.alpha_id)

