= render partial: "shared/error", locals: {object: @tournament}

.row.justify-content-center
  %h1{ class: "pb-5" } Player Registration
  = form_for :player, url: player_index_url do |f|
    .form-group
      %label{for: :player_name} 
        Name
      = f.text_field :name, class: "form-control"
    = f.submit "Register", class: "btn btn-primary"
