%h4= "Round #{@round.round_number} Match #{@round.order + 1}"

= link_to 'Edit', edit_tournament_round_url(@tournament.alpha_id, @round)
%table{ class: "table table-bordered table-striped" }
  %thead
    %tr
      %th Wind
      %th Player Name
      %th Score
      %th Oka
  %tbody
    -@round.player_rounds.each do |player|
      %tr
        %td= player.wind.to_s.humanize
        %td= player.player.name.to_s
        %td= player.score.to_s
        %td= player.oka.to_s
    
