= form_tag tournament_round_url(@tournament.alpha_id, @round), method: :put do |t|
  - player_rounds = @round.player_rounds.order(wind: :asc)
  %table{ class: "table table-bordered table-striped" }
    %thead
      %tr
        %th Wind
        %th Player Name
        %th Score
    %tbody
      %tr
        %td East
        %td
          = text_field_tag "players[]", player_rounds[PlayerRound.winds[:east]].player.name
        %td
          = number_field_tag "start_score[]", player_rounds[PlayerRound.winds[:east]].score || @tournament.start_score, step: 1000
      %tr
        %td South
        %td
          = text_field_tag "players[]", player_rounds[PlayerRound.winds[:south]].player.name
        %td
          = number_field_tag "start_score[]", player_rounds[PlayerRound.winds[:south]].score || @tournament.start_score, step: 1000
      %tr
        %td West
        %td
          = text_field_tag "players[]", player_rounds[PlayerRound.winds[:west]].player.name
        %td
          = number_field_tag "start_score[]", player_rounds[PlayerRound.winds[:west]].score || @tournament.start_score, step: 1000
      %tr
        %td North
        %td
          = text_field_tag "players[]", player_rounds[PlayerRound.winds[:north]].player.name
        %td
          = number_field_tag "start_score[]", player_rounds[PlayerRound.winds[:north]].score || @tournament.start_score, step: 1000
  = submit_tag "Save", class: "btn btn-primary"

