= render partial: "shared/navigation"

.row.justify-content-center
  .col-md-4.col-xs-12
    %p Enter the players who will be in the same match. Please only use the exact names of players who were entered as participants when creating the tournament.
= form_tag tournament_round_index_url(@tournament.alpha_id) do |t|
  .row.justify-content-center
    //.col-6
    //%table{ class: "table table-bordered table-striped text-center" }
    //  %thead
    //    %tr
    //      %th Players
    //  %tbody
    //    - @tournament.players.each do |p|
    //      %tr
    //        %td= p.name
    - i = 1
    -until i > @tournament.max_games do
      .col-md-auto
        - if @round.present?
          - @round.player_rounds.each do |pr|
            = render partial: "shared/error", locals: {object: pr}
        %table{ class: "table table-bordered table-striped text-center" }
          %thead
            %tr
              %th Wind
              %th Player
          %tbody
            %tr
              %td East
              %td
                -#round_list = @player_list.shift
                = text_field_tag "players[]", nil, class: "form-control", list: "player-list#{0 + ((i - 1) * 4)}", autocomplete: :off 
                %datalist{ id: "player-list#{0 + ((i - 1) * 4)}" }
                  =@tournament.decorate.player_list
            %tr
              %td South
              %td
                = text_field_tag "players[]", nil, class: "form-control", list: "player-list#{1 + ((i - 1) * 4)}", autocomplete: :off
                %datalist{ id: "player-list#{1 + ((i - 1) * 4)}" }
                  =@tournament.decorate.player_list
            %tr
              %td West
              %td
                = text_field_tag "players[]", nil, class: "form-control", list: "player-list#{2 + ((i - 1) * 4)}", autocomplete: :off
                %datalist{ id: "player-list#{2 + ((i - 1) * 4)}" }
                  =@tournament.decorate.player_list
            %tr
              %td North
              %td
                = text_field_tag "players[]", nil, class: "form-control", list: "player-list#{3 + ((i - 1) * 4)}", autocomplete: :off
                %datalist{ id: "player-list#{3 + ((i - 1) * 4)}" }
                  =@tournament.decorate.player_list
      -i += 1
  .row.justify-content-center
    = submit_tag "Start New Round", class: "btn btn-primary btn-lg"
