= render partial: "shared/navigation"

.row.justify-content-center
  = render partial: "shared/error", locals: {object: @chombo}
  = form_tag tournament_chombo_index_url do
    .form-group
      %label{for: :chombo_player_name} 
        Player Name
      = text_field_tag "chombo[player_name]", nil, class: "form-control", list: "player_list", autocomplete: :off
      %datalist{ id: "player_list" }
        =@tournament.decorate.player_list
    = submit_tag "Create", class: "btn btn-primary"

