$primary: #f8f9fa;
$table-color: $primary;
@import "bootstrap"

body
  background-color: $gray-800;
  color: $primary;

.secondary-bg
  background-color: $gray-600;


@media (max-width: map-get($container-max-widths, sm))
  .nav 
    a
      font-size: 1.25rem;

.flex_container
  margin-right: auto;
  margin-left: auto;

table
  width: auto !important;
#rankings
  width: auto !important;
