= render partial: "shared/navigation"

.row.justify-content-center.pt-5
  %h1{ id: :countdown, style: "font-size: 64px;"}
-if authorized? @tournament, :edit?
  .row.justify-content-center.pt-3
    = button_to "Start Game", tournament_start_countdown_url(@tournament.alpha_id), class: "btn btn-primary"

-if @tournament.countdown.present?
  :javascript
    var countDownDate = new Date("#{(@tournament.countdown.to_datetime + @tournament.time_limit.to_i.minutes).strftime("%b %d %Y %H:%M:%S")}").getTime()
    var x = setInterval(function() {
      var now = new Date();
      now = now.getTime() + (now.getTimezoneOffset() * 60000)
      var distance = countDownDate - now;
  
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / (1000));
  
      document.getElementById("countdown").innerHTML = ("0" + hours).slice(-2) + ":" + ("0" + minutes).slice(-2) + ":" + ("0" + seconds).slice(-2);
      if(distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "00:00:00";
      }
    }, 1000);
-else 
  :javascript
    document.getElementById("countdown").innerHTML = "00:00:00"

