= render partial: "shared/navigation"
%div{ style: "max-width: 38rem; margin: auto;" }
  %p
    Your tournament code is: 
    %b= @tournament.alpha_id
  %p
    Give this code to your players to allow them to view your tournament. Players are unable to change the tournament.
  %p
    To start a new game, click the new game button in the navigation bar. Then fill out the player names for everyone who is playing at each table.
    Once the game has been created, click on countdown in the navigation bar. Then click "Start Game" to start the countdown.
  %p
    When every game is completed, click on the current hanchan in the rankings menu, and then enter the scores of every player.
    If someone has commited a chombo during a game, click on chombo in the rankings menu and type in the player's name.

