.row.justify-content-center
  .xs-col-12.col-6
    .row.justify-content-center
      %h1{ class: "pb-5" } Create Tournament
    = render partial: "shared/error", locals: {object: @tournament}
    = form_for :tournament, url: tournament_index_url, html: { class: "form-horizontal" } do |f|
      .form-group
        %label{for: :tournament_name} 
          Tournament Name
        = f.text_field :name, class: "form-control"
      .form-group
        %label{for: :tournament_total_rounds}
          Total Matches
        = f.number_field :total_rounds, value: 4, class: "form-control"
      .form-group
        %label{for: :tournament_time_limit}
          Time Limit(minutes)
        = f.number_field :time_limit, value: 80, class: "form-control"
      .form-group
        %label{for: :tournament_start_score}
          Starting Score
        = f.number_field :start_score, value: 25000, step: 1000, class: "form-control"
      .form-group
        %label{for: :tournament_oka_first}
          Oka First Place
        = f.number_field :oka_first, value: 20, class: "form-control"
      .form-group
        %label{for: :tournament_oka_second}
          Oka Second Place
        = f.number_field :oka_second, value: 10, class: "form-control"
      .form-group
        %label{for: :tournament_participants}
          Participant List
        .div
          %small Enter one name per line
        = text_area_tag :participants, @participants, class: "form-control"
        %label{for: :tournament_schedule}
          Schedule contents
        .div
          %small Enter one name per line
        = f.text_area :schedule, class: "form-control"
      = f.submit "Create", class: "btn btn-primary"
