= render partial: "shared/navigation"

.row.justify-content-center.mt-5
  %table{ id: "rankings", class: "table table-bordered table-striped" }
    %thead
      %tr
        %th Rank
        %th Player
        - @tournament.total_rounds.times do |i|
          %th
            - if @tournament.rounds.where(round_number: i + 1).present?
              = link_to "Hanchan #{i + 1}", tournament_round_url(@tournament.alpha_id, i + 1)
            - else 
              = "Hanchan #{i + 1}"
        %th= link_to "Chombo", new_tournament_chombo_url
        %th Oka
    %tbody
      - rank = 1
      - @tournament.players_rank.each do |id, oka|
        -player = Player.find(id)
        %tr
          %td= rank.to_s
          %td= player.name
          - @tournament.total_rounds.times do |i|
            %td= PlayerRound.joins(:round).find_by(player: player, rounds: { round_number: i + 1 }).try(:oka) || "0"
          %td= Chombo.where(player: player).count * @tournament.chombo_cost || "0"
          %td= oka.to_s
        - rank = rank + 1
    
