= render partial: "shared/navigation"

.row.justify-content-center.pt-5
  %h1 Tournament Rules
.container
  .row.justify-content-center
    %h1= @tournament.name
  .row.justify-content-center
    .mb-2= "Total Rounds: #{@tournament.total_rounds}"
  .row.justify-content-center
    .mb-2= "Time Limit: #{@tournament.time_limit} minutes"
  .row.justify-content-center
    .mb-2= "Starting Score: #{@tournament.start_score}"
  .row.justify-content-center
    .mb-2= "Oka: [#{@tournament.oka_first} #{@tournament.oka_second} #{@tournament.oka_third} #{@tournament.oka_fourth}]"
