.row.justify-content-center.form-group
  %h1{ class: "pb-5", style: 'font-weight:normal; font-family: "times";' } Riichi Tournaments
.row.justify-content-center.form-group
  = form_tag root_url do
    .form-group
      = text_field_tag :search, nil, autocomplete: :off
      = submit_tag "Enter Code", class: 'btn btn-primary'
      .row.justify-content-center.form-group{ style: "color: red" }
        = @errors if @errors


.row.justify-content-center.form-group
  .col-6.col-md-4
    %h4 Looking to start a new tournament?
.row.justify-content-center.form-group.pb-5
  = link_to "Create a tournament", new_tournament_url, class: 'btn btn-primary'
.row.justify-content-center.form-group.pt-3.secondary-bg
  .col-md-8
    .row.justify-content-center.form-group
      %h3 What is Riichi Tournaments
    .row.justify-content-center.form-group
      .col-md-8
        %p  Riichi tournaments is a web app designed to help riichi mahjong tournament organizers have a simple way to organize their tournaments. Riichi tournaments allows setup of tournaments and allows the players to see their stats and the current rankings.
    .row.justify-content-center.form-group
      .col-md-8
        %p No email or signup is required. Once you create your tournament, you are given a 5 letter code that will enable anyone to start viewing your tournament.
